body {
  width: 80%;
}
.sidebar {
  width: 100%;
}
.logo {
  width: 5%;
}

#galeria{ width: 400px;}

.galery nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.galery nav ul li a img {
  width: 100px;
  opacity: 50%;
  transition: 0.3s;
  filter: grayscale(50%);
}

.galery nav ul li a img:hover {
    opacity: 100%;
    margin-top: -5px;
    filter: grayscale(0%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

