:root {
  --main-bg-color: #fff;
  --main-text-color: rgb(60, 60, 60);
  --secondary-text-color: rgb(120, 120, 120);
  --main-color: rgb(115,155,224);
  --step-line-active:rgb(173, 216, 230);
  --step-line-color: rgb(202, 202, 202);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg-color);
  margin: 0 auto;
  padding: 0;
  width: 80%;
}
header {
  background-color: var(--main-color);
  height: 50px;
}
main {
  background-color: var(--main-bg-color);
}

section {
  display:flex;
  flex-direction: column;
}

/* Step line */
#step-line{
  position:relative;
  margin:2rem 0px 2rem 0px;
  display:flex;
  justify-content:space-around;
  flex-direction:row;
}
.step:before{
  position:absolute;
  content:"";
  border-bottom:1px solid var(--main-color);
  width: 12%;
  top:43px;
  left:0%;
  z-index:2;
}

/* dont know why before and after */
.step:after{
  position:absolute;
  content:"";
  border-bottom:1px solid var(--step-line-color);
  width:100%;
  top:43px;
  left:0%;
  /* set up layers  */
  z-index:1;
}
.step{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.page{
  margin-bottom:1rem;
}
.circle{
  position:relative;
  /* set up layers  */
  z-index:4;
  border-radius:50px;
  background-color:var(--secondary-text-color);
  width:20px;
  height:20px;
}
/* Current step actions */
.active{
  background-color: var(--step-line-active);
  width:25px;
  height:25px;
  /* I rest margin 'cause after and before line problems. */
  margin-top:-2px;
}
.current{
  font-weight: bold;
}
/* Step line */

#Address-page{
  background-color: rgb(207, 207, 207);
}
/* #First-name{
}
/* Step line animation */

/* Validation classes */
#Profile-page .validation{
  display:none;
}


.validation{
  margin: 15px;
  width: 200px;
  background-color: rgb(255, 189, 189);
  color: red;
  border: 2px solid red;
  border-radius: 10px;
}

.validated{
  animation-name: validatedok;
  animation-duration: 2s;
}

@keyframes validatedok {
  0% { border: 2px solid greenyellow; }
  100% {border: 2px solid rgb(167, 167, 255); }
}

input {
  background-color: rgb(167, 167, 255);
  color: var(--secondary-text-color);
  border:2px solid rgb(167, 167, 255);
  border-radius: 10px;

}
label {
  font-size: large;
  color: var(--secondary-text-color)
}
section input {
  display: block;
}
section label {
  display: block;
}
h1 {
  width: 100%;
}

.sidebar {
  width: 100%;
}

.logo {
  width: 5%;
}

/*Style product Page*/
#product-page{
  flex-direction: row;
  margin-top: 10px;
}

#principal{
  width: 100%;
  object-fit: cover;
}

.galery{
  display: flex;
  flex-direction: column;
}

.galery .miniSlide{
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
}

.galery .miniature {
  width: 20%;
  opacity: 0.4;
  padding: 2px 0px;
  object-fit: cover;
}

.miniature:hover{
  opacity: 1.0;
  background-color: var(--secondary-text-color);
}

.col-left{
  width: 50%;
  padding-right: 10px;
}

.col-right{
  width: 50%;
  padding-left: 10px;
}

.colorLents{
  border-radius: 100%;
  border: 2px solid var(--secondary-text-color) ;
  width: 50px;
  height: 50px;
  object-fit: cover;
  opacity: 0.4;
}

.colorLents:active{
  border-color: var(--main-color) ;
}

.selected{
  opacity: 1.0;
}

.Hidden{
  display: none;
}

/* SHIPPING SECTION */
form div input {
  display: inline;
}
form div label {
  display: inline;
}
#gift-img-btn {
  display: block;
}
.shipping-span {
  display: block;
}
